{% extends 'baseback.html.twig' %}
{% block content %}
<html>
<head>
    <title>
        add timeTable
    </title>
</head>
<body>

<h1>Add un TimeTable</h1>


<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <section class="ftco-section ftco-no-pt ftco-no-pb contact-section">
                <div class="container">
                    <div class="row d-flex align-items-stretch no-gutters">
                        <h1>Insert Time Table</h1>
                        <fieldset style="width: 30%">
                            {{ form_start(form) }}
                            <h1> Time Table:</h1>{{ form_widget(form.content) }}</br>
                            <h1> Class:</h1> {{ form_widget(form.classe) }}</br>
                            {{ form_widget(form.Insert) }}
                            {{ form_end(form) }}
                        </fieldset></div> </div> </section></div> </section> </section>
</body>
</html>
{% endblock %}