{% extends 'baseback.html.twig' %}
{% block content %}
<html>
<head>
    <title>
        add timeTable
    </title>
</head>
<body>
<br>
<br>
<br>
{% form_theme form 'bootstrap_4_layout.html.twig' %}


                        <h1>Insert Time Table</h1>
<br>
<br>
<br>
                        <fieldset style="width: 90%">

                            {{ form_start(form) }}
                            <div class="input-group input-group-sm mb-3">
                                <h1> Time Table:</h1>{{ form_widget(form.content) }}</br></div>
                            <div class="input-group input-group-sm mb-3">
                            <h1> Class:</h1> {{ form_widget(form.classe) }}</br>
                            </div>
                            {{ form_widget(form.Insert) }}
                            {{ form_end(form) }}
                        </fieldset>

</body>
</html>
{% endblock %}