{% extends 'baseback.html.twig' %}
{% block content %}
<html>
<head>
    <title>class</title></head>
<body>
<center>

    {% form_theme form 'bootstrap_4_layout.html.twig' %}

                            {{ form_start(form) }}
                            {{ form_widget(form.classe) }}</br>
                            {{ form_end(form) }}
                            <table border="1">
                                <tr>
                                    <th>Time Table</th>
                                    <th>Classes</th>
                                    <th>Delete</th>
                                    <th>Update</th>

                                </tr>
                                {% for p in timetable %}
                                    <tr>
                                      <td>  <a href="{{ asset('uploads/brochures/' ~ p.content) }}">View brochure (PDF)</a></td>

                                        <td>{{ p.classe.nom }}</td>
                                        <td><a  href="{{ path('class_deleteTimeTable',{"id":p.id}) }}">Delete</a></td>
                                        <td><a  href="{{ path('class_updateTimeTable',{"id":p.id}) }}">Update</a></td>

                                    </tr>

                                {% endfor %}
                            </table>







</center>
</body>

</html>
{% endblock %}