{% extends 'baseback.html.twig' %}
{% block content %}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}

    <center>

                        <fieldset style="width: 90%">

                            {{ form_start(form) }}

                            <h1>Update class</h1>
                            <br>
                            <br>
                            <fieldset style="width: 100%">
                                <div class="input-group input-group-sm mb-3"><h2> Name </h2> {{ form_widget(form.nom) }}</div>
                                <div class="input-group input-group-sm mb-3" ><h2>Number of Pupils </h2> {{ form_widget(form.nbPupils) }}</div>


                                 {{ form_widget(form.update) }}
                                {{ form_end(form) }}
                                </div>
                            </fieldset>
                        </fieldset>
    </center>

{% endblock  %}


